- var socketio = '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'
- var $ = '//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js'

doctype html
head
  title Hello, World!
  script(src=socketio)
  script(src=$)
  != js('main')

body
  h1 Hi
  p 
    em hello.

