- var socketio = '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'
- var $ = '//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.2/zepto.min.js'

doctype html
html(lang="en_CA")
  head
    meta(charset="UTF-8")
    title Ludwig Demo

    != css('reset')
    != css('main')

    script(src=socketio)
    script(src=$)
    != js('main')


  body
    header.main-header
      h1.main-title
        span.ludwig Ludwig
        | 
        span.demo Demo

    .greeting

    .workspace
      .entry#main-input
        textarea.extravagant-text-entry(
          autofocus, placeholder="Type here and press enter")

      .results#results
        .placeholder.
          No results to show.

    footer.main-footer
      p.copyright.
        2014 © Eddie Antonio Santos. BSD Licensed.

    template#t-result
      .result
        dl.meta
          dt Request ID
          dd.request-id undefined
          dt Internal ID
          dd.internal-id undefined
          dt Turnaround time
          dd.tatime undefined
        .content undefined

