@charset "UTF-8";

/* Hide the greeting and the footer. */
.greeting, .main-footer { display: none; }
body {
    margin: auto;
    max-width: 800px;
    font-family: "Helvetica Neue";
    font-size: 2em;

    color: #333;
}

.hide { display: none; }


/* Header stuff. */
.main-header {
    margin-bottom: 0.75em;
}
.main-title {
    font-size: 2.5em;
    word-spacing: -.25em;
    font-variant: small-caps;
}
.main-title .demo { color: #3cf; }


/* "Workspace" stuff. */
.workspace {
    width: 100%;
}


/* Main text entry stuff. */
.entry { /* ??? */ }
.entry textarea {
    /* Reset the textarea first. */
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;

    display: block;
    padding: 5px 20px;
    width: 100%;
    font-size: 100%;
    background-color: transparent;

    border-bottom: 2px solid rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
    margin-bottom: 0.5em;

    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}
/* Give it a blue glow on focus. */
.entry textarea:focus { border-bottom-color: #3cf; }


/* Result stuff. */

.results {
    padding: 20px;
}
.results .placeholder {
    font-style: italic;
    text-align: center;
    color: #aaa;
    font-size: 0.75em;
}

.result {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    
}

.result .content {
    padding-bottom: 24px;
    color: #555;
}

.result .meta {
    position: absolute;
    display: none;
    font-size: 0.5em;
    bottom: 0; left: 0; right: 0;
    color: #eee;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 8px
}

.result:hover .meta {
    display: block;
}

.result dl.meta > dd, .result .meta > dt {
    display: inline;
}

.result dl.meta > dt {

    margin-right: 0.5em;
}
.result dl.meta > dt::after {
    content: "";
}
.result dl.meta > dd {
    font-weight: bold;
    margin-right: 1em;
}
